<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(one)</title>
</head>
<body>
    <h1>Welcome {{session['first_name']}}</h1>
    <a href="/recipe_list"> Dashboard</a>
    <a href="/logout">Logout</a>
    <h2>{{recipe.name}}</h2>
    <p>Description: {{recipe.description}}</p>
    <p>Instruictions: {{recipe.instructions}}</p>
    <p>Date Made: {{recipe.date_made}}</p>

    <a href="/edit/{{recipe.id}}"> Edit</a> | <a href="/delete/{{recipe.id}}"> Delete</a>
    
</body>
</html>