<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{session['employee_id']}}</h1>
    <a href="/new">Add Form</a>
    <a href="/edit/{{employee.id}}">Account</a>
    <a href="/logout">Logout</a>


    <table>
        <tr>
            <tr>
                <th><h2>Forms</h2></th>
            </tr>
        </tr>
        {% for form in forms: %}
        <tr>
            <td><a href="/show/{{form.id}}">{{form.title}}</a> added by {{form.first_name}} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>